.page.theme_dark {
  --background-image: url(../images/cover-image-dark.png);
  --menu-color: var(--pink-70);
  --background-color-dark: #342d4a;
  --text-color: var(--pink-white);
  --shadow-link: var(--pink-70);
  --purple-pink-white: var(--purple);
  --black28-gray: var(--black28);
  --pink-ff8-pink-70: var(--pink-70);
  --purple-pink-title: var(--purple);
}