@media (prefers-color-scheme: light) {
  :root {
    --background-image: url(../images/cover-image-light.png);
    --menu-color: #353430;
    --background-color: #fff1f7;
    --text-color: #353430;
    --shadow-link: #ff8dcb;
    --purple-pink-white: #db00ff;
    --subtitle: #000028;
    --text-decor: #ff8dcb;
    --hover-color: #32312d66;
    --title-color: #FFC2E6;
    --title-shadow: #FF0070;
  }
}

.page.theme_light {
  .rec-decor {
    visibility: hidden;
  }

  --background-image: url(../images/cover-image-light.png);
  --menu-color: #353430;
  --background-color: #fff1f7;
  --text-color: #353430;
  --shadow-link: #ff8dcb;
  --purple-pink-white: #db00ff;
  --subtitle: #000028;
  --text-decor: #ff8dcb;
  --hover-color: #32312d66;
  --title-color: #FFC2E6;
  --title-shadow: #FF0070;
}
