.page.theme_light {
  .rec-decor {
    display: none;
  }

  --background-color-white: #9e7096;
  --background-image: url(../images/cover-image-light.png);
  --menu-color: var(--gray);
  --text-color: var(--gray);
  --shadow-link: var(--pink-white);
  --purple-pink-white: var(--pink-white);
  --black28-gray: var(--gray);
  --pink-ff8-pink-70: var(--pink-ff8);
  --purple-pink-title: var(--pink-title);
}