:root {
  --background-image: url(../images/cover-image-dark.png);
  --menu-color: #FF0070;
  --background-color: #000028;
  --text-color: #F1B2CE;
  --shadow-link: #FF0070;
  --subtitle: #000028;
  --text-decor: #FF0070;
  --hover-color: #FF007066;
  --font-family: "IBM Plex Mono", monospace;
  --font-w-normal: 400;
  --font-w-bold: 700;
  --font-size-default: 18px;
  --title-color: #DB00FF;
  --title-shadow: #FF0070;
  --rec-hidder: visibility;
}

